<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PostulateTest" connectionString="Data Source=localhost;Database=PostulateTest;Integrated Security=SSPI"/>
    <add name="demo" connectionString="Data Source=localhost;Database=PostulateDemo2;Integrated Security=SSPI"/>
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSQLLOCALDB;Database=DefaultConnection;Integrated Security=true"/>
    <add name="Blobak" connectionString="Data Source=(localdb)\MSSQLLOCALDB;Database=BlobakBlankDb;Integrated Security=true"/>
    <add name="SchemaMergeTest" connectionString="Data Source=(localdb)\MSSQLLOCALDB;Database=SchemaMergeTest;Integrated Security=true"/>
    <add name="CreateIfNotExistsDb" connectionString="Data Source=(localdb)\MSSqlLocalDb;Database=CreateIfNotExistsDb;Integrated Security=true"/>
    <add name="MySql" connectionString="@HelloMySql"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
